.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.displaybox {
    display: flex;
    gap: 6px;
    margin-bottom: 6px;
}

.display {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border: 3px solid black;
    width: 210px;
    height: 60px;
    font-size: 40px;
}

.btns {
    display: flex;
}

.numbtns {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
}

.row {
    display: flex;
    gap: 3px;
    justify-content: center;
}

button {
    font-size: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.operators {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: 6px;
}